<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style " id="share">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_email"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript">
  var addthis_config = {
    "data_track_addressbar":true,
    "data_ga_tracker": "UA-25480624-3"
  };
  var addthis_share = {
    "url": "http://jboysen.dk{{ post.url }}",
    "title": "{{ post.title }} · jboysen.dk"
  };
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f612a943f60273"></script>
<!-- AddThis Button END -->